extends layout

block content
  h1.centered-header Welcome to Rest-U-Rater!
  .index-container
    | Enter your email to start rating restaurants...  
    form(name='email', method='post', action='/signin').index-form
      input(type='text', name='email', placeholder='your_email@example.com')
  

