extends layout

block content
  h1.centered-header Welcome to RestauRater!
  span.email-instructions Enter your email to begin
  .index-container
    form(name='email', method='post', action='/signin').index-form  
      input(type='text', name='email', placeholder='your_email@example.com')
  

