doctype html
html
  head
    title Rest-U-Rater Restaurant Rating
    link(href='http://fonts.googleapis.com/css?family=Source+Code+Pro:600', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/jquery.min.js')
    
  body
    .navbar
      span.brand Rest-U-Rater
    block content
    script(src='javascripts/site_effects.js')