doctype html
html
  head
    title RestauRater Restaurant Rating
    link(href='http://fonts.googleapis.com/css?family=Source+Code+Pro:600', rel='stylesheet', type='text/css')
    link(href='/dist/app.min.css', rel='stylesheet', type='text/css')

  
  body
    .navbar
      span.brand RestauRater
    block content
    script(src='/dist/vendor.js')
    script(src='/dist/app.js')
    //- Links to non-minified scripts for dev environment
    //- script(src='/javascripts/restaurant.js')
    //- script(src='/javascripts/restaurants.js')
    //- script(src='/javascripts/site_effects.js')
    //- script(src='/javascripts/restaurant_index.js')
    //- script(src='/javascripts/restaurant_show.js')