extends layout

block content
  .ratings-info
    h2.ratings-info-header Restaurant Ratings
    .ratings-info-section
      h3 Overall
      ul
        li
          span#avg-score #{avgScore}
        li Number of ratings: 
          span#num-ratings #{numRatings}
  .all-ratings
    h1.centered-header= name
    .past-ratings-info
      if userHasRated
        span You've rated this restaurant. Feel free to change your rating.
      else
        span You haven't rated this restaurant yet.
    .ratings-container
      .rating-box
        h2 Overall Rating
        .slider
        span.left-rating.rating-no 0 
        span.right-rating.rating-no 5
        .current-rating-container
          span.current-rating Currently: 
            span.current-rating-num 2.5
      button#submit-ratings Save Ratings
  script(type='text/template', id='restaurant-data')
    != restaurantJSON

  link(rel='stylesheet', type='text/css', href='/stylesheets/jquery-ui-1.10.4.custom.min.css')
  script(src='/javascripts/jquery-ui-1.10.4.custom.min.js')
  script(src='/javascripts/restaurant_show.js')
