extends layout

block content
  .container
    #restaurants-list
        
    .selection-area
      h1.centered-header Choose your Restaurant
      .restaurant-input
        form(action='#', method='get').restaurant-form
          .directions 
            | Use the search box to narrow your selection ---
            br
            | or add a new restaurant if it's not in the list.
          input(type='text', name='restaurant_name', placeholder='Enter name or part of name...')#rest-input
          br
          input(type='submit', value='Go', disabled='disabled')#rest-submit
  script(type='text/template' id='restaurants-data')
    != templateNames
